---
BasedOnStyle: LLVM
InsertBraces: true
ColumnLimit: 0

BreakTemplateDeclarations: "No"

AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
